<!doctype html>
<html xmlns:th="http://ww.thymeleaf.org">
<head>
    <title>User panel</title>
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>

<body>
<div th:insert=" menu.html :: div"></div>

<h1>Order form</h1>

<div class="container">
    <div class="alert alert-success">
        <strong>Order  List</strong>

    </div>

    <div style="text-align: right; margin-bottom: 5px; ">
        <a href="/createorder">Add a new order</a>
    </div>


            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Comment</th>

                </tr>
                </thead>
                <tbody>
<!--                <tr th:each="order : ${orders}">-->
<!--                    <td th:text="${order.orderId}"></td>-->
<!--                    <td th:text="${order.title}"></td>-->
<!--                    <td th:text="${order.comment}"></td>-->

<!--                    <td><a th:href="@{/edit/{id}(id=${company.id})}">Edit</a></td>-->
<!--                    <td><a th:href="@{/delete/{id}(id=${company.id})}">Delete</a></td>-->
<!--                    <td><a th:href="@{/order/{id}(id=${company.id})}">Add</a></td>-->
                </tr>
                </tbody>
            </table>

</div>
</body>





<!--<form action="#"-->
<!--      th:action="@{/order/{id}(id=${company.id})}"-->
<!--      th:object="${company}"-->
<!--      method="post">-->

<!--    <table class="table table-bordered">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Name</th>-->
<!--            <th>City</th>-->
<!--            <th>Id</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr>-->

<!--            <td th:text=" ${company.name}"></td>-->
<!--            <td th:text=" ${company.city}"></td>-->
<!--            <td th:text=" ${company.id}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    <br>-->

<!--</form>-->


</body>


</html>