<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
	<title>User panel</title>
	<link rel="stylesheet" type="text/css" href="css/menu.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
<div th:insert=" menu.html :: div"></div>
<div class="container">


	<div class="alert alert-success">
		<strong>User Panel</strong>

	</div>

<p>Zapraszam Cię do przetestowania kilku funkcjonalności z wykorzystaniem Java/Spring Boot JPA</p>
</div>
</body>


</html>